{% extends 'base.html.twig' %}

{% block title %}
Gestionnaire d'hôtels Hb-HotelManager
{% endblock %}

{% block content %}

    <div class="text-center">
        <h1>Bienvenue sur votre gestionnaire de locations.</h1>
    </div>
{% endblock %}